.App {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 2vh;
	text-align: center;
}

h1 {
	color: blueviolet;
}

input {
	padding: 1vw;
	border: 2px solid rgb(244, 141, 44);
	border-radius: 5px;
	font-size: large;
}

label {
	color: blueviolet;
}
button {
	padding: 5px;
	font-size: larger;
	background-color: rgb(244, 141, 44);
	border-radius: 5px;
}

button:hover {
	background-color: blueviolet;
	color: white;
}

.horizontal {
	border: 2px solid white;
	width: 100%;
	border-radius: 100%;
}
footer {
	text-align: center;
}
footer a i {
	margin: 20px 0 20px 30px;
	font-size: 50px;
	color: var(--para);
}
@media only screen and (max-width: 600px) {
	.lucky {
		width: 100vw;
	}
}
